/* ********************************************************** */
/* ********************************************************** */
/*                      GENERAL SETTINGS                      */
/* ********************************************************** */
/* ********************************************************** */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* ********************************************************** */
/*                ACCESIBILLITY STYLE SETTINGS                */
/* ********************************************************** */
/* .acces-ico_ {
    border: 1px solid red;
    width: 48px;
    height: 40px;
    top: 7px;
    opacity: .94;
    cursor: pointer;
    position: absolute;
} */
.accesibillity-wrapper {
    /* border: 1px solid red; */
    z-index: 1000; 
}
/* ********************************************************** */
/*                 MAIN ACCESIBILLITY WRAPPER                 */
/* ********************************************************** */
.accesibillity-wrapper {
    background-color: #E3E3E3;
    position: absolute;
    width: 290px;
    height: 100vh;
    overflow: auto;
    display: none;
}
/* ********************************************************** */
/*                    RESET BUTTON WRAPPER                    */
/* ********************************************************** */
.reset-wrapper {
    /* background-color:cadetblue; */
    height: 70px;
    margin-top: 28px;
    margin-left: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rst-overlap {
    /* background-color: black; */
    position: absolute;
}
.reset {
    /* background-color: blue; */
    width: 14rem;
    cursor: pointer;
}
.rst1 {
    margin-top: 2px;  
    margin-right: 2px;
    opacity: 1;
    transition: opacity 700ms ease-in-out;
}
.rst1:hover {
    opacity: 0;
}
.reset-txt {
    /* outline: 1px solid blue; */
    font-family: 'Roboto', sans-serif;
    position: absolute;
    margin-top: 21px;
    margin-left: 100px;
    color: #9D2449;
    font-size: 12px;
    line-height: 12px;
}
.reset-txt_ {
    color: transparent;
}
/* ********************************************************** */
/*                        OPTION SECTION                      */
/* ********************************************************** */
.options-wrapper {
    /* background-color: burlywood; */
    padding-bottom: 15px;
}
.menu-icon-wrapper {
    /* border: 1px solid red; */
    height: 75px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.icon-wrapper1, .icon-wrapper2  {
    margin-left: 38px;
    padding-right: 15px;
    height: 45px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.icon-wrapper1 {
    position: absolute;
}
.icon-wrapper2 {
    transition: background-color 300ms ease-in-out;
}
.icon-wrapper2:hover {
    background-color: #eeebeb;
}
.menu-icon {
    /* background-color: aqua; */
    width: 2.9rem;
}
.icon-1, .icon-2 {
    position: absolute;
}
.icon-2_ {
    width: 5.5em;
}
.text1, .text2 {
    font-family: 'Roboto', sans-serif;
    color: #cd728d;
    font-size: 12px;
    line-height: 12px;
    padding-left: 60px;
    min-width: 200px;
    max-width: 200px;
}
.text2 {
    color: #9D2449;
}
.text2_ {
    padding-left: 100px;
}
.squares {
    position: absolute;
    width: 4.5em;
    margin-left: 140px;
}


