/* ********************************************************** */
/*                    BOX ADVISE SETTINGS                     */
/* ********************************************************** */
.box-advise-wrapper {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
}
.box-advise {
    background-color: #D9EDF7;
    border: 2px solid #BCE8F1;
    width: 85%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.advise-icon {
    /* background-color: #C77C11; */
    width: 1.48em;
    position: absolute;
    margin-top: -4px;
    margin-left: -25px;
}
.txt-advise {
    color: #31708f;
    position: relative;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    border-radius: 5px;
    padding: 22px 30px 22px 40px;
}
/* ********************************************************** */
/*                    SCREEN MEDIA QUERYS                     */
/* ********************************************************** */
@media only screen
and (min-width : 10px) 
and (max-width : 200px) {
    .txt-advise {
        font-size: 12px;
    }
    .box-advise {
        width: 95%;
    }
}
@media only screen
and (min-width : 201px) 
and (max-width : 400px) {
    .txt-advise {
        font-size: 14px;
    }
    .box-advise {
        width: 92%;
    }
}
@media only screen
and (min-width : 401px) 
and (max-width : 700px) {
    .txt-advise {
        font-size: 16px;
    }
    .box-advise {
        width: 88%;
    }
}
@media only screen
and (min-width : 701px) 
and (max-width : 999px) {
    .txt-advise {
        font-size: 17px;
    }
    .box-advise {
        width: 90%;
    }
}