/* ********************************************************** */
/*                   DIVISION LINE SETTINGS                   */
/* ********************************************************** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container0_ {
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: .82fr;
    justify-content: center;
}
.container0_dif {
    grid-template-columns: .87fr;
}
.txt-detail {
    /* background-color: #31708f; */
    color: #414041;
    font-size: 24px;
    font-weight: 500;
    line-height: 26px;
    padding-top: 20px;
    padding-bottom: 15px;
    min-width: 250px
}
/* .line-wrapper1 {
    background-color: #B38E5D;
} */
.div-line1 {
    border-bottom: 1px solid #e0dcdc;
}
.div-sqr1 {
    background-color: #B38E5D;
    border: 1px solid #B38E5D;
    width: 35px;
    height: 5px;
}