/* ********************************************************** */
/*                      BIG SCREEN TOPBAR                     */
/* ********************************************************** */
.main-topbar {
    /* border: 4px solid rebeccapurple; */
    background-color: #611232;
    height: 4.8em;
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
    /* opacity: .4; */
}
.margin-control-container {
    /* background-color: rgb(179, 187, 187); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.margin-control-inner {
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 85%;
    flex: 1;
}
.middle {
    /* outline: 1px solid rgb(255, 255, 255); */
    /* width: 100%; */
    display: flex;
    align-items: center;
    flex: 1;
 }
 .mid-content {
    /* border: 1px solid blue; */
    margin-top: 4px;
 }
.gob-logo {
    width: 8.5em;
}
.right {
    /* background-color: #33c531; */
    /* border: 1px solid rgb(255, 255, 255); */
    display: flex;
    flex-shrink: 1;
}
.up {
    /* border: 1px solid aqua; */
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
.linkup {
    /* background-color: #1726b3; */
    /* border: 1px solid red; */
    padding: 18px 15px 18px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 300ms;
}
.linkup:hover {
    background-color: #793551;
}
.lup {
    /* background-color: #2a95c3; */
    margin-top: 10px;
}
.lup_ {
    width: 1.9em;
}
.up- {
    transition: 300ms;
}
.linkup:hover p  {
    color: #C0B392;
}
/* ********************************************************** */
/*                   BIG SCREEN RIBBON MENU                   */
/* ********************************************************** */
.ribbon {
    /* border: 2px solid rgb(0, 0, 0); */
    background-color: #A57F2C;
    height: 3.5em;
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 4.8em;
    z-index: 10;
    /* opacity: .3; */
}
.margin-control-wrapper {
    /* outline: 2px solid rgb(5, 5, 5); */
    width: 100%;
    max-width: 85%;
    display: flex;
    flex: 1;
}
/* .left- {
    border: 2px solid gold;
} */

.middle-wrapper {
    /* background-color: blue; */
    /* border: 2px solid rgb(15, 49, 241); */
    font-size: 1.4rem;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.right-wrapper {
    /* background-color: #33c531; */
    /* border: 1px solid rgb(248, 11, 11); */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}
.block-wrapper {
    /* background-color: burlywood; */
    /* border: 1px solid rgb(218, 241, 9); */
    height: 100%;
    display: flex; 
    text-align: center;
    transition: 500ms;
    flex-shrink: 1;
}

.block-wrapper:hover {
    background-color: #B2924B;
}
.block0 {
    /* border: 1px solid red;
    background-color: rgb(171, 194, 24); */
    padding: 18px 15px 18px 5px;
    display: flex;
    align-items: center;
}
.home, .home_ {
    /* background-color: #D95A8D; */
    width: 1.5em;
    transition: 300ms;
}
.block-wrapper:hover .home {
    opacity: 0;
}
.home_ {
    position: absolute;
    margin-right: 43px;
    opacity: 0;
}
.block-wrapper:hover .home_ {
    opacity: 1;
}
.icon-overlap {
    position: absolute;
    opacity: 0;
    transition: 300ms;
}
.block-wrapper:hover .icon-overlap {
    opacity: 1;
}
.icon1, .icon2, .icon3, .icon4  {
    width: 1.35em;
    margin-right: 2px;
}
.icon3  {
    width: 1.1em;
}
.bar-chart {
    width: 1.1em;
}
.alert {
    width: 1.5em;
}
.alert-mod {
    width: 1.2em;
}
.icon-opacity{
    transition: 300ms;
}
.block-wrapper:hover .icon-opacity {
    opacity: 0;
}
.lowtitles {
    padding-left: 4px;
    transition: 300ms;
}
.block-wrapper:hover .lowtitles {
    color: #D3BF97;
}
/* ********************************************************** */
/*                       FOOTER SETTINGS                      */
/* ********************************************************** */
.footer {
    background-color: #611232;
    border-bottom: 1px solid rgb(7, 21, 18);
    display: flex;
    justify-content: center;
    min-height: auto;
    margin-top: auto; 
}
.div-footer-info {
    /* border: 5px solid #ff0000; */
    width: 85%;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 1.1fr 1fr 1fr 1fr;
}
.info-gob {
    /* background-color: #FE935F; */
    /* border: 2px solid #eeff00; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;   
    height: 100%;
    padding-top: 13px;
}
.footer-logo {
    /* outline: 1px solid blue; */
    width: 18vw;
    margin-right: 13px;
    margin-bottom: 11px;
}
.decoration {
    text-decoration: underline;
}
.infotxt {
    font-size: clamp(0.7rem, 1.7vw, 1rem);
    line-height: clamp(1.2rem, 1.7vw, 23px);
    padding-bottom: 9px;
    padding-right: 11px;
}
.infotxt-padding {
    padding-bottom: 22px;
}
.readmore {
    font-size: clamp(0.5rem, 1.7vw, 14px);
    line-height: clamp(1rem, 2vw, 23px);
    font-weight: initial;
    text-decoration: underline;
}
.info-rotulo, .siguenos {
    font-size: clamp(0.7rem, 2vw, 18px);
    line-height: 17px;
    padding-bottom: 25px;
    padding-right: 11px;
}
.follow-container {
    /* border: 2px solid red; */
    margin-top: 15px;
}
.social-wrap {
    /* border: 1px solid rgb(0, 81, 255); */
    display: flex;
    align-items: center;
}
.div-social-icon {
    /* border: 1px solid rgb(0, 17, 255); */
    margin-right: 12px;
}
.social-icon1 {
    width: 1.5em;
}
.social-icon2 {
    width: 1.6em;
}
.social-icon3 {
    width: 1.6em;
}
.social-icon4 {
    width: 2em;
    padding-left: 3px;
}
.call-number-wrap {
    /* border: 1px solid red; */
    margin-top: 7px;
    display: flex;
}
.call-icon {
    width: 15.5em;
}

/* ********************************************************** */
/*                    SCREEN MEDIA QUERYS                     */
/* ********************************************************** */
@media only screen
and (min-width : 0px) 
and (max-width : 768px) {
    .main-topbar {
        display: none;
    }
    .ribbon {
        display: none;
    }
    .div-footer-info {
        display: flex;
        flex-direction: column;
        width: 93%;
    }
    .info-gob-logo {
        /* outline: 5px solid rgb(255, 0, 0); */
        width: 100%;
    }
    .logo-wrapper {
        /* border: 5px solid rgb(255, 255, 255); */
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .footer-logo {
        /* background-color: aqua; */
        width: 14rem;
    }
    .info-rotulo, .siguenos {
        font-size: 18px;
    }
    .infotxt {
        font-size: 1rem;
        padding-left: 100px;
    }
    .infotxt-padding {
        /* border: 1px solid red; */
        padding-right: 45vw;
    }
    .readmore {
        font-size: 14px;
    }
    .decoration {
        padding: 0;
     }
    .label-container {
        /* border: 1px solid red; */
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
        flex: 1;    }
    /* 1. Convertimos .label en un botón inline-flex */
    .label {
        display: inline-flex;
        width: 100%; 
        align-items: center;
        pointer-events: none;      
        cursor: default;    
    }
    .info-rotulo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 320px;
        flex: 1;                 
    }
    /* 2. Creamos la flecha en el ::after de .info-rotulo */
    .info-rotulo::after {
        content: "\276F"; /* ❯ */
        font-size: 0.75em;
        padding: 0 7px 0 7px;
        pointer-events: auto;
        cursor: pointer;
        display: inline-block;
        transition: transform 0.2s ease;
    }
    /* 3. Al tener la clase .open, cambiamos la flecha */
    .label.open .info-rotulo::after {
        transform: rotate(-270deg);
    }
    .follow-container {
        /* border: 1px solid red; */
        display: grid;
        grid-template-columns: 8.5em 1fr;
        margin-top: 28px;
        margin-bottom: 15px;
    }  
    .div-follow { 
        display: flex;
        align-items: center; 
    } 
    .siguenos {
        /* border: 1px solid red;  */
        padding-bottom: 0;  
    }
    .call-icon {
        width: clamp(18em, 3vw, 18.5em);
    }
    .contact-container{
        /* border: 4px solid #ff0202; */
        display: flex;
        justify-content: flex-end;
}

}
   
@media only screen
and (min-width : 0) 
and (max-width : 576px) {
    .info-rotulo {
        max-width: 280px;
    }
    .infotxt-padding {
        padding-right: 24vw;
    }
    .infotxt {
        padding-left: 22px;
    }
    .contact-container{
        display: initial;
        justify-content: initial;
    }
    .decoration {
        padding-left: initial;
    }
     .footer-logo {
        /* background-color: aqua; */
        width: 16.5rem;
     
    }
}

