/* ********************************************************** */
/*                    MOBILE FIXED TOP MENU                   */
/* ********************************************************** */
.main-topbar-m {
    border: 2px solid rebeccapurple;
    /* background-color: #611232; */
    height: 4.8em;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
 }
.acces-ico-wrapper{
    /* border: 1px solid rgb(29, 8, 221); */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-topbar_, .main-topbar__ {
    /* border: 10px solid rgb(29, 8, 221); */
    background-color: #611232;
    position: fixed;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
}
.inner-container {
    /* border: 2px solid greenyellow; */
    width: 93%;
    display: flex;
    align-items: center;
 }
.main-topbar_ {
    /* border: 2px solid red; */
    z-index: 30;
    display: none;
}
.main-topbar__ {
    /* background-color: rgb(39, 224, 224); */
    border-top: 1px solid #611232;
    position: fixed;
    margin-top: -9em;
    height: initial;
    z-index: 25;
    display: none;
    transition: 500ms ease-in-out;
}
 .middle-mobile {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .mid-content-mobile{
    border: 1px solid blue;
    margin-left: 50px;
} */
.right_ {
    /* border: 10px solid rgb(226, 14, 14); */
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: center;   
}
/* .label-hamburguer-wrapper {
    background-color: coral;
    margin-left: 15px;
    margin-right: 15px;
} */
.hamburguer-wrapper {
    /* background-color: #C0B392; */
    display: flex;
    align-items: center;
    padding: 16px 2px 16px 2px;
    border-radius: 100px;
    height: 23px;
    opacity: 0.8;
    transition: background-color 0.3s ease;
    touch-action: manipulation;
}
.hamburguer-icon {
    width: 1.83em;
}
/* .menu-alto {
    border: 1px solid red;
} */

.up_ {
    /* background-color: #1726b3; */
    /* border: 1px solid red; */
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    transition: 300ms;
    width: 100%;
}
.linkup_ {
    /* border:  1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.linkup_:hover {
    background-color: rgb(221, 211, 186, .3);
}
.linkup_:hover p  {
    color: #C0B392;
}
.up-- {
    transition: 300ms;
}
.up--.txt1 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.up--.txt2  {
    padding-top: 10px;
    padding-bottom: 10px;
}
.glass_ {
    width: 2em;
    padding-top: 10px;
    padding-bottom: 1px;
}
/* ********************************************************** */
/*                    MOBILE RIBBON MENU                      */
/* ********************************************************** */
.ribbon_ {
    background-color: #A57F2C;
    /* border: 5px solid rgb(101, 18, 209); */
    margin-top: 4.8em;
    height: 50px;
    left: 0;
    right: 0;
    top: 0;
    z-index: 20;  
    position: fixed;
    display: none;
    justify-content: center;
    /* opacity: .2; */
}
.inner-ribbon {
    /* border: 2px solid rgb(50, 209, 18); */
    width: 93%;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}
.siged_ {
    /* background-color: blue; */
    font-size: 1.24rem;
    
}
/* .menu-bajo {
    border: 1px solid red;
} */
.ribbon__ {
    /* border: 1px solid red; */
    background-color: #A57F2C;
    border-top: 1px solid #A57F2C;
    margin-top: -300px;
    position: fixed;
    display: none;
    transition: 550ms ease-in-out;
    z-index: 15;
}
.block-wrapper_ {
    height: 100%;
    display: flex;
    transition: 500ms;
}
.block-wrapper_:hover {
    background-color: #B2924B;
}
.block1 {
    /* border: 1px solid red; */
    /* background-color: rgb(171, 194, 24); */
    padding: 11px 0 11px 15px;
    display: flex;
    align-items: center;
}
.block-wrapper_:hover .home_ {
    opacity: 0;
}
.block-wrapper_:hover .home__ {
    opacity: 1;
}
.home__, .home___ {
    /* background-color: #D95A8D; */
    width: 1.15em;
    transition: 300ms;
}
.home___ {
    position: absolute;
    /* margin-right: 43px; */
    opacity: 0;
}
.icon-overlap_ {
    position: absolute;
    opacity: 0;
    transition: 300ms;
}
.block-wrapper_:hover .icon-overlap_ {
    opacity: 1;
}
.icon01, .icon02, .icon03, .icon04  {
    width: .9em;
    margin-right: 2px;
}
.icon03  {
    width: .84em;
}
.icon-opacity_{
    transition: 300ms;
}
.block-wrapper_:hover .icon-opacity_ {
    opacity: 0;
}
.lowtitles_ {
    font-size: 0.9rem;
    line-height: 25px;
    transition: 300ms;
}
.block-wrapper_:hover .lowtitles_ {
    color: #C0B392;
}
/* **********************  SWITCHES  ************************ */
#switch-menu, #switch-menu_ {
    position: absolute;
    display: none;
}
/* ********************************************************** */
#switch-menu:checked ~ .main-topbar__ {  
    margin-top: 3.8em;
    animation: ani_1 1s cubic-bezier(0.215, 0.610, 0.355, 1);
}
/* .hamburguer-wrapper:hover {
    background-color: #611232;
} */
.hamburguer-wrapper:active {
    background-color: #eca9c4;
    animation: bounceTap 300ms ease;
}
/* ********************************************************** */
#switch-menu_:checked ~ .ribbon__ {
    margin-top: 7.22em;
    animation: ani_2 1.25s cubic-bezier(0.215, 0.610, 0.355, 1);
}
/* .hamburguer-wrapper-a:hover {
    background-color: #A57F2C;
} */
.hamburguer-wrapper-a:active {
    background-color: #C0B392;
    animation: bounceTap 300ms ease;
}
@keyframes bounceTap {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
/* .div {
    width: 100vw;
    padding: 150px 30px 30px 30px;
    text-align: justify;
}
.texto {
    font-size: medium;
    color: black;
} */
/* ********************************************************** */
/*                    SCREEN MEDIA QUERYS                     */
/* ********************************************************** */
@media only screen
and (min-width : 0px) 
and (max-width : 768px) {
    .main-topbar-m {
        display: initial;
    }
    .left_ {
        display: initial;
    }
    .main-topbar_ {
        display: flex;
        /* opacity: .3; */
    }
    .main-topbar__ {
        display: initial;
        /* opacity: .3; */
    }
    .ribbon_ {
        display: flex;
        /* opacity: .3; */
    }
    .ribbon__ {
        display: flex;
        flex-direction: column;
        top: 0;
        left: 0;
        right: 0;
        /* opacity: .3; */
    }
    /* .siged_ {
        margin-left: 12px;
    } */
    /* .main-topbar_, .main-topbar__ {
        display: none;
    } */

}   