
/* ********************************************************** */
/*                   NAVIGATION LINK MODULE                   */
/* ********************************************************** */
.navigation-links-section {
    /* border: 2px solid red; */
    position: absolute;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 50px;
}
.navigation-links-wrapper {
    /* outline: 1px solid blue; */
    max-width: 100%;
    display: flex;
    flex: 1;
}
.navigation-links-wrapper_ {
    /* outline: 1px solid red; */
    display: flex;
    align-items: center;
}
.home1 {
    width: 1.6em;
}
.arrowhead {
    margin-left: 8px;
    width: .63rem;
}
.txt-navigation-links {
    font-size: clamp(.9rem, 2.5vw, 1.2rem);
    line-height: 1;
    color: #414446;
    /* margin-left: 6px; */
}
.strong-txt {
    font-weight: 700;
}
/* ********************************************************** */
/*                    SCREEN MEDIA QUERYS                     */
/* ********************************************************** */
@media only screen
and (min-width : 841px) 
and (max-width : 999px) {
    /* .navigation-links-section {
        top: 370px;
    } */
}

@media only screen
and (min-width : 401px) 
and (max-width : 840px) {
    /* .navigation-links-section {
        top: 310px;
    } */
}

@media only screen
and (min-width : 151px) 
and (max-width : 400px) {
    .home1 {
        width: 1.4em;
    }
    /* .navigation-links-section {
        top: 360px;
    } */
    .navigation-links-wrapper {
        display: flex;
        flex-direction: column;
    }
    .navigation-links-wrapper-dif {
        flex-direction: row;
    }
}
@media only screen
and (min-width : 10px) 
and (max-width : 150px) {
    .home1 {
        width: 1.2em;
    }
    .navigation-links-wrapper {
        display: flex;
        flex-direction: column;
    }
}

@media only screen
and (min-width : 0) 
and (max-width : 768px) {
    .navigation-links-section {
        bottom: clamp(45px, 10vw, 350px);
    }
}
