/* ********************************************************** */
/*                   INVOICE DATA WRAPPER                     */
/* ********************************************************** */ 
.invoice-wrapper {
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
}
.invoice-wrapper_ {
    background-color: #FFFFFF;
    position: relative;
    /* min-width: 100px; */
    max-width: 85%;
    margin-top: -30px;
    border-radius: 10px;
    border: 2px solid #BC955C;
    display: flex;
    justify-content: center;
    flex: 1;
    z-index: 5;
}
.invoice-wrapper_-{
    margin-bottom: 50px;
}
.myform {
    /* outline: 4px solid red; */
    max-width: 93%;
    height: 45px;
    margin: 30px 0px 65px 0px;
    display: flex;
    flex: 1;
    gap: 25px;
}
.form-data {
    /* outline: 3px solid rgb(16, 59, 215); */
    display: flex;
    align-items: center;
    flex: 1;
    width: 100%;
}
.form-input {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    min-width: 100%;
    height: 88%;
    color:black;
    font-size: 18px;
    line-height: 14px;
    padding-left: 12px;
    border-radius: 2px;
}
.form-input:focus {
    border: 1px solid #1c8ce8;
    outline: none;
    box-shadow: 0 0 4px 1px #79afdc;
}
.button-wrapper {
    /* outline: 8px solid rgb(2, 2, 2); */
    /* min-width: 500px; */
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    flex: 1;
    gap: 25px;
}
.btn-search, .btn-reset {
    background-color: #235B4E;
    width: 100%; 
    border: none;
    outline: none;
    border-radius: 3px;
    box-shadow: 0 2px 0 0 #14493e;
}
.btn-search:hover {
    background-color: #4f7c72;
}
.btn-search:active {
    background-color: #235B4E;
    box-shadow: inset 0px 0px 1px 1px #194239,
                      0px 0px 1px 1px #0e1312;
}
.btn-reset{
    background-color: #6F7271;
    box-shadow: 0 2px 0 0 #646363;
}
.btn-reset:hover {
    background-color: #a9aaaa;
}
.btn-reset:active {
    background-color: #6F7271;
    box-shadow: inset 0px 0px 1px 1px #515353,
                      0px 0px 1px 1px #242525;
}
.btn-form {
    cursor: pointer;
}
.ng-binding {
    font-family: "Noto Sans";
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #fff;
}
.invoice-locate-wrapper {
    /* background-color: #cf974e; */
    position: absolute;            
    font-size: 18px;
    line-height: 26px;
    margin-top: 90px;
}
.invoice-locate-txt {
    color: #BC955C;
    text-decoration: underline;
    transition: color 350ms ease-in-out ;
}
.invoice-locate-txt:hover {
    color: #7F9CF0;
}
/* ********************************************************** */
/*                    SCREEN MEDIA QUERYS                     */
/* ********************************************************** */ 
@media only screen
and (min-width : 1000px) 
and (max-width : 1200px) {
    .button-wrapper {
        gap: 15px;
    }
    .myform {
        gap: 15px;
    }
    .button-wrapper- {
        gap: 15px;
    }
}
@media only screen
and (min-width : 386px) 
and (max-width : 999px) {
    .invoice-wrapper_{
        height: 290px;
        max-width: 85%;
    }
    .button-wrapper {
        gap: 10px;
        height: 115px;
        margin-top: 10px;
        display: grid;
        justify-content: center;
        /* display: none; */
    }
    .btn-form {
        /* border: 1px solid red; */
        padding-left: 100px;
        padding-right: 100px;
    }
    .myform {
        display: block;
        gap: 10px;
    }
    .form-input {
        height: 50px;
    }
    .invoice-locate-wrapper {
        margin-top: 230px;
        padding: 0 5px 0 5px;
        text-align: center;
    }
    .button-wrapper- {
        /* outline: 1px solid red; */
        display: grid;
        justify-content: center;
        width: 93%;
        gap: 10px;
    }
    .button- {
        padding-left: 100px;
        padding-right: 100px;
    }
    .button1 {
        margin: 10px 0 0 0;
    }
    .button2 {
        margin-top: 0;
        margin-bottom: 10px;
    }
}

@media only screen
and (min-width : 278px) 
and (max-width : 385px) {
    .invoice-wrapper_{
        height: 275px;
        max-width: 92%;
    }
    .button-wrapper {
        /* outline: 2px solid red; */
        height: 115px;
        margin-top: 10px;
        display: block;
    }
    .ng-binding {
        font-size: 16px;
    }
    .btn-form {
        height: 50px;
    }
    .btn-search {
        margin-bottom: 10px;
    }
    .myform {
        display: block;
        gap: 0;
    }
    .form-input {
        height: 50px;
        font-size: 13px;
    }
    .invoice-locate-wrapper {
        margin-top: 215px;
        font-size: .95em;
        padding: 0 5px 0 5px;
        text-align: center;
    }
    .form-input- {
        height: 50px;
        font-size: 13px;
    }
    .button-wrapper- {
        /* outline: 1px solid red; */
        width: 93%;
        display: block;
    }
    .button1 {
        margin: 10px 0 10px 0;
    }
    .button2 {
        margin-top: 0;
        margin-bottom: 10px;
    }
}

@media only screen
and (min-width : 143px) 
and (max-width : 277px) {
    .invoice-wrapper_{
        height: 300px;
        max-width: 97%;
    }
    .button-wrapper {
        /* outline: 2px solid red; */
        height: 115px;
        margin-top: 10px;
        display: block;
    }
    .ng-binding {
        font-size: 16px;
    }
    .btn-form {
        /* outline: 2px solid red; */
        height: 50px;
        font-size: 11px;
    }
    .myform {
        display: block;
        gap: 0;
    }
    .form-input {
        font-size: 9px;
        height: 50px;
    }
    .invoice-locate-wrapper {
        margin-top: 220px;
        font-size: .95em;
        text-align: center;
    }
    .form-input- {
        font-size: 9px;
        height: 50px;
    }
    .button-wrapper- {
        /* outline: 1px solid red; */
        width: 93%;
        display: block;
    }
    .button1 {
        margin: 10px 0 0 0;
    }
    .button2 {
        margin-top: 0;
        margin-bottom: 10px;
    }
}

@media only screen
and (min-width : 10px) 
and (max-width : 142px) {
    .invoice-wrapper_{
        height: 315px;
        max-width: 98%;
    }
    .button-wrapper {
        /* outline: 2px solid red; */
        height: 115px;
        margin-top: 15px;
        display: block;
    }
    .ng-binding {
        font-size: 16px;
    }
    .btn-form {
        /* outline: 2px solid red; */
        height: 50px;
    }
    .myform {
        display: block;
        gap: 0;
    }
    .form-input {
        font-size: 7px;
        height: 50px;
    }
    .invoice-locate-wrapper {
        margin-top: 220px;
        font-size: .92em;
        text-align: center;
    }
    .form-input- {
        font-size: 7px;
        height: 50px;
    }
    .button-wrapper- {
        /* outline: 1px solid red; */
        width: 93%;
        display: block;
    }
    .button1 {
        margin: 10px 0 0 0;
    }
    .button2 {
        margin-top: 0;
        margin-bottom: 10px;
    }
}
/* ********************************************************** */
/*                    SCREEN MEDIA QUERYS                     */
/* ********************************************************** */
@media only screen
and (min-width : 0) 
and (max-width : 768px) {
    .invoice-wrapper_{
        max-width: 90%;
    }

}
